$border-radius: 3px;
// $background: #474747;
// $background: #32333B;
$background: #212121;
$text-dark: rgba(0, 0, 0, 0.87);
$text-light: rgba(0, 0, 0, 0.69);
$news-bg: rgba(255, 255, 255, 0);

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
* {
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    // grid-gap: 1.5vw;
    grid-column-gap: 1.5vw;
    // grid-row-gap: 1.5vw;
    padding: 1.5vw;
    width: 100%;
    height: 100vh;
    background: $background;
}
.logo {
    // grid-column: 7 / 9;
    // grid-row: 1 / 2;
    grid-column: 10 / -1;
    grid-row: 1 / 2;
    width: 50%;
    align-self: center;

    img {
        width: 100%;
    }
    // justify-self: center;
    // background: pink;
}
.info {
    grid-column: 8 / 10;
    grid-row: 1 / 2;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 1vw;
    align-items: baseline;

    .clock {
        // grid-column: 12 / 13;
        // grid-column: 3 / 4;
        // grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        // background: powderblue;
    }

    .date {
        // grid-column: 1 / 3;
        // grid-row: 1 / 2;
        display: flex;
        // justify-content: flex-end;
        justify-content: center;
        align-items: center;
        // text-align: right;
        text-align: center;
        font-size: 2vw;
        span#telltime {
            font-size: 3vw;
            padding-left: 16px;
        }
    }
}
.news {
    grid-column: 1 / 8;
    grid-row: 7 / 10;
    // grid-column: 1 / 7;
    // grid-row: 7 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5vw 0;
    // grid-gap: 16px;
    /* width: 100%; */
    
    &__feed {
        background: $news-bg;
        width: 100%;
        border-radius: $border-radius;
        

        &:first-of-type {
            border-right: 1px solid rgba(0, 0, 0, 0.25);
            padding-right: 16px;
        }

        &:last-of-type {
            padding-left: 16px;
        }

        &-title {
            // text-align: center;
            font-weight: 300;
            font-size: 130%;
            margin: 0;
            padding: 0;
            // color: $text-dark;
        }

        .hr {
            width: 100%;
            height: 1px;
            margin: 0.5vw 0 0.8vw 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            // background: rgba(0, 0, 0, 0.2);
            display: block;
        }

        &-content {
            opacity: 0.85;

            p {
                font-weight: 300;
                font-size: 80%;
                margin: 0.5vw 0;
            }

        }
    }
}

.overview {
    grid-column: 8 / -1;
    grid-row: 2 / -1;
    display: grid;
    
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 1vh;
    justify-content: space-around;
    align-items: space-around;
    // padding: 16px;
    // background: blue;
    border-radius: $border-radius;
    // border-radius: 5px;

    .card-header {
        color: white;
        align-self: flex-end;
    }
    .card, .card-header {
        display: grid;
        grid-template-columns: 7% 1fr 0.5fr 0.5fr;
        grid-gap: 1vw;
        align-items: center;
        // padding: 16px;
        font-size: 100%;
        // color: #000;
    }
    .fri {
        background: #eee;
        opacity: 0.35;
        filter: grayscale(100%);
    }
    .card {
        background: #eee;
        // border-radius: $border-radius;
        border-radius: 1000px;
        color: #000;

        &:nth-of-type(2n) {
            background: #fdfdfd;
            color: #222;
        }

        .color {
            // height: calc(100% + 2px);
            height: 100%;
            // border-radius:  $border-radius 0 0 $border-radius;
            border-radius:  1000px 0 0 1000px;
            margin-left: -1px;
            // border-radius:  1000px;
        }

        .extra {
            background: #555;
        }
        .web {
            background: #c12020;
        }
        .grafikker {
            background: #9916b1;
        }

        .dm {
            background: #84b12a;
        }

        .trykkere {
            background: #009bb9;
        }
        

        .class {
            // padding: 0.5vw 0;
            padding: 0;
            border-right: 1px solid rgba(0, 0, 0, 0.2);

            span {
                font-size: 60%;
                display: block;
            }

        }

        .class__room {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            padding: 0.5vw 0;
        }

        .class__time {
            justify-self: center;
            padding: 0.5vw 0;
            padding-right: 1vw;
            font-size: 80%;
        }
    }
}

.center {
    text-align: center;
    margin-left: -1vw;
}
.graphics {
    grid-column: 1 / 8;
    grid-row: 1 / 7;
    // grid-column: 1 / 7;
    // grid-row: 2 / 7;
    overflow: hidden;
    border-radius: $border-radius;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.map {
    grid-column: 1 / 8;
    grid-row: span 3 / -1;
    background: #fdfdfd;
    padding: 15px;
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: $border-radius;

    .map1 {   
        grid-column: span 2;
    }

    img {
        width: 100%;
    }
}
// .map1 {
//     grid-column: 7 / 10;
//     grid-row: span 3 / -1;
//     background: white;
//     padding: 5px;

//     img {
//         width: 100%;
//     }
// }
// .map2 {
//     grid-column: 10 / -1;
//     grid-row: span 3 / -1;
//     background: white;
//     padding: 15px;

//     img {
//         width: 100%;
//         // transform: rotate(90deg)
//     }
// }
